In [144]:
import numpy as np
import pandas as pd

In [145]:
dict1 = {
    "name":['sam','kim','tim','tom'],
    "city":['A','c','p',''],
    "weight":[45,75,32,64,42]
}

In [146]:
#sample_df1= pd.DataFrame(dict1)
#sample_df1
#ValueError: All arrays must be of the same length

In [147]:
dict1 = {
    "name":['sam','kim','tim','tom'],
    "city":['A','c','p',''],
    "weight":[45,75,32,64]
}

In [148]:
sample_df1 = pd.DataFrame(dict1)
sample_df1

  name city  weight
0  sam    A      45
1  kim    c      75
2  tim    p      32
3  tom           64

In [149]:
sample_df1.to_csv('sample_df1.csv') #saves data to csv file

In [150]:
sample_df1.to_csv('sample_df1.csv',index=False) #saves data without index column to csv file

In [151]:
sample_df1.head(2)

  name city  weight
0  sam    A      45
1  kim    c      75

In [152]:
sample_df1.tail(1)

  name city  weight
3  tom           64

In [153]:
sample_df1.describe()

          weight
count   4.000000
mean   54.000000
std    19.200694
min    32.000000
25%    41.750000
50%    54.500000
75%    66.750000
max    75.000000

In [154]:
sample_rand_df = pd.DataFrame(np.random.rand(124,5))

In [155]:
sample_rand_df

            0         1         2         3         4
0    0.398453  0.889995  0.029729  0.395667  0.656311
1    0.776752  0.959992  0.250909  0.741707  0.985922
2    0.307162  0.339854  0.594689  0.389615  0.142759
3    0.596252  0.405498  0.963151  0.958138  0.247002
4    0.316039  0.528725  0.421569  0.378588  0.236968
..        ...       ...       ...       ...       ...
119  0.742563  0.878798  0.538589  0.936119  0.402879
120  0.452095  0.591751  0.838400  0.079226  0.721868
121  0.320348  0.302792  0.903086  0.910123  0.783807
122  0.744017  0.708088  0.005875  0.768251  0.430862
123  0.841017  0.134531  0.523952  0.298125  0.750795

[124 rows x 5 columns]

In [156]:
sample_rand_df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [157]:
sample_rand_df[0][0]="sam"
sample_rand_df.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [158]:
sample_rand_df[0][0] = 1.2
sample_rand_df.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [159]:
sample_rand_df.index

RangeIndex(start=0, stop=124, step=1)

In [160]:
sample_rand_df.columns

RangeIndex(start=0, stop=5, step=1)

In [161]:
sample_rand_df.to_numpy()

array([[1.2, 0.889995255029167, 0.02972903907063329, 0.3956669419688138,
        0.6563107528545936],
       [0.7767524373311028, 0.9599918756767445, 0.2509089125405859,
        0.7417069103252224, 0.9859220419662532],
       [0.30716243400888055, 0.33985394712203176, 0.5946893346795661,
        0.38961522048148434, 0.142758993458167],
       [0.5962521261368419, 0.40549758463654084, 0.9631512639834947,
        0.9581379784070044, 0.2470017966044874],
       [0.3160392298890692, 0.5287248461194718, 0.42156858338299563,
        0.37858793271161906, 0.23696787589547597],
       [0.10650218179925963, 0.11702262225901106, 0.4986955376359973,
        0.4773587559575774, 0.2555852093865887],
       [0.4949339976362688, 0.07294556753581816, 0.2761179035792318,
        0.9281803139094659, 0.8534794993361655],
       [0.07123461132661812, 0.04270316012543307, 0.6574770699176711,
        0.393151960179313, 0.6515883073776476],
       [0.40879715652422355, 0.2825263608872408, 0.6651984296141749,
        0.010995794327684605, 0.38569574049093114],
       [0.27494057757840307, 0.44887722054062307, 0.5501743818032503,
        0.6006503077510964, 0.511811754381626],
       [0.5088487268187015, 0.4015806263341172, 0.8143101834498395,
        0.26703113939194745, 0.29148935639706897],
       [0.8643743010613949, 0.5180386661476936, 0.11007290507274248,
        0.3470741499235853, 0.7570318986206546],
       [0.9619965507736945, 0.8730349731437522, 0.5789879554636898,
        0.23688441564731189, 0.7631877429519309],
       [0.06485227601365562, 0.6593337557639616, 0.8430372416367946,
        0.024768964386580272, 0.3915866894716271],
       [0.8280614155061585, 0.8638601244734349, 0.7593834053779298,
        0.9646902053243582, 0.41146554909315125],
       [0.24636097067281315, 0.11005331121313533, 0.6881456636825645,
        0.8852915925902105, 0.37642378677602106],
       [0.846157138777921, 0.6394845123218226, 0.7021486958937057,
        0.2954383779155353, 0.5353670398106021],
       [0.05406135386007116, 0.8992368152125625, 0.7193745654833207,
        0.012960676295696083, 0.3303054618468012],
       [0.932374243643896, 0.7073959557099496, 0.6477882672923263,
        0.9201505642694083, 0.42680333925826563],
       [0.9707787827433907, 0.6284030300910298, 0.6680574399131085,
        0.8380577370169445, 0.7851856339963857],
       [0.07114070311780041, 0.8397866858036604, 0.34401748542049715,
        0.5541255423738471, 0.9706438397467941],
       [0.037882125600314565, 0.3029445131391958, 0.20291279158955755,
        0.13128092362960364, 0.4052558139687906],
       [0.7158784570217711, 0.15682259688882394, 0.6027315338782138,
        0.09745355088671448, 0.14375547266923316],
       [0.8558621585425592, 0.7714232405002484, 0.4941610017347753,
        0.8552866143798207, 0.45512627821202545],
       [0.14542305225650265, 0.7026159084027833, 0.6557531253561751,
        0.4758571421869152, 0.04034980534571553],
       [0.29195281994568645, 0.3903247172940758, 0.11024650765405852,
        0.6760742361688108, 0.002378750959050824],
       [0.5443716324612966, 0.5724680680708145, 0.4539396858677375,
        0.3542618505962294, 0.31785583296707387],
       [0.796165639810418, 0.33997086752966743, 0.9505359671860741,
        0.2538705715816889, 0.3246121709958193],
       [0.8486388773516751, 0.6784219099836141, 0.07752114609269956,
        0.7412375425120943, 0.235201571865697],
       [0.6870734027397786, 0.21771417034530471, 0.09175486923831966,
        0.09971725961548916, 0.2295554769005682],
       [0.46389563127190414, 0.2353093468317875, 0.7103273312297018,
        0.6476585715202038, 0.3809748791042814],
       [0.8849756498272437, 0.7438404889846721, 0.7345481677151771,
        0.15419560865631632, 0.82616886122781],
       [0.4374599127538429, 0.38771796053551355, 0.3872536243250906,
        0.933874745732654, 0.8922415360421485],
       [0.42390847100438545, 0.03946338259538329, 0.15748620673966485,
        0.7124900420562412, 0.06956236679977679],
       [0.8996171479776949, 0.723062307766801, 0.08331417148880416,
        0.694665760531016, 0.6705321732675547],
       [0.816309106448767, 0.717722886681916, 0.8301387538076768,
        0.9613654514910351, 0.7374439795019992],
       [0.291046045512391, 0.4776630677048379, 0.4254010163714307,
        0.1711351272169891, 0.24893900282922343],
       [0.17022803984034762, 0.7615387689111676, 0.8567537310019062,
        0.09977140017831831, 0.959976512756442],
       [0.2577978202663619, 0.03935197092914888, 0.728431548167937,
        0.6573233466514901, 0.9301473850992817],
       [0.022578154309856213, 0.29026627368416924, 0.20316327120982935,
        0.9949016252690194, 0.8801246688043111],
       [0.40521083530462043, 0.6132521285070164, 0.928683458891841,
        0.9009574839668252, 0.045335312142425366],
       [0.9472231932051682, 0.28770235431351066, 0.5022023448072842,
        0.9415025675033935, 0.36940587052636986],
       [0.5889270759370593, 0.550970680928581, 0.11716773173190942,
        0.9648390086740934, 0.821552864796592],
       [0.9904410510363647, 0.6494083633687315, 0.02101335714378194,
        0.7031537294735497, 0.2273969827213954],
       [0.438098697047286, 0.8806442986540909, 0.8996921159263439,
        0.3347255952965642, 0.8166899517183716],
       [0.3079430305112081, 0.31848777585213184, 0.8911654879324385,
        0.29259654829074744, 0.5805453479875888],
       [0.11767200426353619, 0.648628249423235, 0.17511681920613043,
        0.6671280758774769, 0.034485777977733445],
       [0.06021249859003719, 0.7025463543553158, 0.46329879391895257,
        0.8438714459022149, 0.06537379743614824],
       [0.3861221052780718, 0.1701519165434836, 0.6026444348284444,
        0.4321306125622332, 0.9566797013760219],
       [0.39712902250400584, 0.5834977992712805, 0.1386832690780705,
        0.5125345031711721, 0.5167456343925514],
       [0.3584846227408338, 0.06727963544918691, 0.5017105129087871,
        0.11526550079456388, 0.8122321004340628],
       [0.7252514641200463, 0.30831128923790774, 0.5576237089702931,
        0.39196202244407474, 0.648701670270871],
       [0.6457711493157607, 0.9204602551506117, 0.5850402402389019,
        0.42687144049410597, 0.7443045036056938],
       [0.2760298604894228, 0.17074949013127427, 0.993664589802722,
        0.9330777454974025, 0.908604236334425],
       [0.6232486725433137, 0.3222050722121579, 0.6804892743526189,
        0.5914566006857385, 0.9938585871384261],
       [0.8585777559859712, 0.22269001875022076, 0.22670931950994755,
        0.07945404752733154, 0.6130603231337671],
       [0.05489179662718413, 0.08066184328768222, 0.877077867607163,
        0.40125346126647154, 0.4549615369718957],
       [0.4745459377907665, 0.4601953254170845, 0.9909950414894415,
        0.5098942858938164, 0.7824941778816915],
       [0.02978461477834704, 0.8307133468002764, 0.5995316690304272,
        0.2694266527634597, 0.9077308184235217],
       [0.5786858257042826, 0.4417413734643746, 0.06942123844471315,
        0.6478491631030383, 0.7453739860433322],
       [0.30759569344188875, 0.55567447088979, 0.043673942642466046,
        0.6793938580707379, 0.4519165389502995],
       [0.2020880961874164, 0.7747171418417861, 0.8275207827940313,
        0.4353954085109013, 0.5488063251875359],
       [0.89985796051516, 0.37845741083667706, 0.026702518083030147,
        0.6589441883881758, 0.1853800266688992],
       [0.9724353255300803, 0.5009882192793684, 0.8924031919368819,
        0.8799173573583334, 0.4142569062956556],
       [0.5915930159739037, 0.7093149292798135, 0.40582453940603624,
        0.9386437963805327, 0.024942825439040694],
       [0.6610340908161789, 0.43419489812054324, 0.99432655103923,
        0.09901252493311041, 0.5290374787685144],
       [0.20039267213400136, 0.48186250670803976, 0.7312679999502775,
        0.9786532237875036, 0.9416597747237867],
       [0.6712171949755867, 0.6017791561860455, 0.7649192265039108,
        0.8384701454543397, 0.8106204109818385],
       [0.46405765163462087, 0.5824504565828162, 0.17807891961907385,
        0.09615903744110132, 0.8152840041194539],
       [0.7102459127081493, 0.8044542977138709, 0.495546782030001,
        0.51882983762812, 0.027158436980954215],
       [0.3587884181454588, 0.5103244145258977, 0.11765050648706998,
        0.37775289216828456, 0.45810937287174724],
       [0.5140014853587066, 0.7181330844761608, 0.5886020981634162,
        0.9338327877781566, 0.07520284494949192],
       [0.13568226639453917, 0.8570775590641085, 0.8406817311639656,
        0.8216889176089034, 0.8024172118394916],
       [0.19072334866062912, 0.03317290174351495, 0.7430227846372031,
        0.4908336644493331, 0.6876635804751694],
       [0.5253171744963724, 0.2178086595282419, 0.5634202839938361,
        0.47584063536706256, 0.6793162419414456],
       [0.8631437481437191, 0.5270342806972439, 0.26901933487108054,
        0.46880114723405064, 0.2700233334969595],
       [0.00472722304176032, 0.030036986322146464, 0.8498639706387263,
        0.04720385757424883, 0.3440014785123833],
       [0.5157364469328747, 0.4761282268140534, 0.0858761615935304,
        0.830190222175486, 0.7824654168559753],
       [0.14825903135086893, 0.8388498723630466, 0.7436244930472958,
        0.8855019312907683, 0.5552402374954959],
       [0.11005109901316179, 0.5364171389882114, 0.1537724460299611,
        0.43813939226225307, 0.5748931346761148],
       [0.8645204840075689, 0.1649162282530896, 0.1655186916788164,
        0.9107095342263191, 0.9064401764212618],
       [0.16538067678251478, 0.7507273182003362, 0.17596253969644904,
        0.4342784432686123, 0.8635659792678682],
       [0.5998809372261232, 0.8647837877614859, 0.26196691937076655,
        0.6634627400766411, 0.02814270703742716],
       [0.25371045450599206, 0.19276330262658292, 0.5047260849948764,
        0.5184577065230893, 0.18668034954031798],
       [0.36756373955978194, 0.7292935360601215, 0.37372064558412665,
        0.10003911713252434, 0.2901102796358329],
       [0.5472608955476468, 0.7108637724592808, 0.4847212855665448,
        0.9353662516279967, 0.8828697564249579],
       [0.6581917556622013, 0.5631312786129762, 0.5647911456342218,
        0.9862292427528656, 0.13212729797734102],
       [0.33783272395426944, 0.08078856903263021, 0.9746931816741266,
        0.9361003389493816, 0.24586662669607695],
       [0.8498959933820195, 0.33913860886923775, 0.3485096322939981,
        0.6811934935938974, 0.36450361704744527],
       [0.8469605328938782, 0.006123613350970891, 0.29222181716048035,
        0.011047196597764986, 0.550671490152986],
       [0.5756282958523837, 0.09545440085386114, 0.5124132343317767,
        0.8633202484378574, 0.6604285817242981],
       [0.7585362134315696, 0.23120905057914332, 0.11382048584077575,
        0.2951325714896119, 0.34423446692950155],
       [0.3980673451795478, 0.19479367450491647, 0.9105400759161416,
        0.5098360781619897, 0.07378828750663802],
       [0.9668571457668876, 0.6661369534142481, 0.6040269806881079,
        0.6810583178609114, 0.6631394812650302],
       [0.4262422249755905, 0.32697816791518797, 0.8788115936453443,
        0.2553538343901005, 0.19208173037166532],
       [0.30616054043271335, 0.888418265174258, 0.9103303719371703,
        0.915282585002646, 0.8686742418815345],
       [0.30614299249565635, 0.46869225479633037, 0.2883086910087246,
        0.53188807116155, 0.21173403748912945],
       [0.9837597415680379, 0.6585240924564911, 0.4968537245539677,
        0.9434516030338662, 0.941983223147237],
       [0.23566203525439866, 0.3800209790223794, 0.10273939546211008,
        0.6066823613767784, 0.5965018609418158],
       [0.6301330666446637, 0.4209714333856788, 0.9331702698275718,
        0.19856603310819376, 0.0930259565459608],
       [0.4238076224088885, 0.713051131710418, 0.2662731477300906,
        0.6825235951009667, 0.9522492403827221],
       [0.5146088968406146, 0.02209895109501192, 0.5805282539993246,
        0.21006997946296302, 0.5387692411334787],
       [0.6388074428242545, 0.5534964283687248, 0.9196933082061122,
        0.10406873296593389, 0.9289365195384092],
       [0.6621717831192362, 0.2514680860296189, 0.44719703299367464,
        0.1324806535866433, 0.5350738899175973],
       [0.6686339819641661, 0.15736892478871123, 0.6198349919387917,
        0.2837490966512827, 0.293263360576028],
       [0.7730287819035262, 0.4618677356764097, 0.5959399243784894,
        0.703945931118905, 0.3196035891376454],
       [0.9500339139624554, 0.03902572782383795, 0.18787156507257652,
        0.13671683586764605, 0.5146370104092277],
       [0.2627498210249808, 0.8419070121783363, 0.17952020424292636,
        0.558265829195174, 0.6244030540043999],
       [0.6549580454170189, 0.9244072989396641, 0.2502813130442104,
        0.5538748613228099, 0.6755570626911218],
       [0.8971729478425308, 0.1155165532614808, 0.10947773244520476,
        0.8325823309231313, 0.3489692257926381],
       [0.8573524051034055, 0.9866132775560466, 0.2692726690004069,
        0.45220903849596716, 0.2844577991864692],
       [0.41500613071010406, 0.9605304214200884, 0.5420242086699459,
        0.8750151748852706, 0.28604196798413717],
       [0.02190419497941709, 0.8676524473342789, 0.0017718289489534467,
        0.8928464111096253, 0.3934388702312105],
       [0.819872472122339, 0.4322907920439192, 0.27095327656874146,
        0.9132732366121404, 0.359256593110864],
       [0.9951389478100475, 0.8424696960411124, 0.8467540963933176,
        0.24486534016084782, 0.12811138605105132],
       [0.6442885356915857, 0.5718468381437426, 0.19101563695793478,
        0.13238620285796932, 0.21949749511922312],
       [0.2303281707024658, 0.6437919964167501, 0.454953962713756,
        0.6530686259831627, 0.1038886564668764],
       [0.6631480397128866, 0.6009123050604273, 0.484531793854979,
        0.6182691258995838, 0.1737369025105686],
       [0.9184198767846675, 0.10968746282373232, 0.8263336402576791,
        0.8086812727547759, 0.36737156136966653],
       [0.7425625813507682, 0.8787983137088192, 0.5385893391238455,
        0.9361185539048051, 0.40287934802006753],
       [0.45209511935861424, 0.5917505655228723, 0.8384003365169045,
        0.07922617007908306, 0.7218676535236145],
       [0.3203484077571943, 0.3027919004869163, 0.9030855727790369,
        0.9101226000860668, 0.7838068641570328],
       [0.7440172675443197, 0.7080877352363335, 0.005875198871908904,
        0.7682507719075639, 0.43086222974398825],
       [0.8410166921499495, 0.13453056550310682, 0.5239517169793487,
        0.29812538317703274, 0.7507952952904431]], dtype=object)

In [162]:
sample_rand_df.T

,0,1,2,3,4,5,6,7,8,9,...,114,115,116,117,118,119,120,121,122,123
0,1.2,0.776752,0.307162,0.596252,0.316039,0.106502,0.494934,0.071235,0.408797,0.274941,...,0.995139,0.644289,0.230328,0.663148,0.91842,0.742563,0.452095,0.320348,0.744017,0.841017
1,0.889995,0.959992,0.339854,0.405498,0.528725,0.117023,0.072946,0.042703,0.282526,0.448877,...,0.84247,0.571847,0.643792,0.600912,0.109687,0.878798,0.591751,0.302792,0.708088,0.134531
2,0.029729,0.250909,0.594689,0.963151,0.421569,0.498696,0.276118,0.657477,0.665198,0.550174,...,0.846754,0.191016,0.454954,0.484532,0.826334,0.538589,0.8384,0.903086,0.005875,0.523952
3,0.395667,0.741707,0.389615,0.958138,0.378588,0.477359,0.92818,0.393152,0.010996,0.60065,...,0.244865,0.132386,0.653069,0.618269,0.808681,0.936119,0.079226,0.910123,0.768251,0.298125
4,0.656311,0.985922,0.142759,0.247002,0.236968,0.255585,0.853479,0.651588,0.385696,0.511812,...,0.128111,0.219497,0.103889,0.173737,0.367372,0.402879,0.721868,0.783807,0.430862,0.750795

In [163]:
sample_rand_df.sort_index(axis=1,ascending=False)

            4         3         2         1         0
0    0.656311  0.395667  0.029729  0.889995       1.2
1    0.985922  0.741707  0.250909  0.959992  0.776752
2    0.142759  0.389615  0.594689  0.339854  0.307162
3    0.247002  0.958138  0.963151  0.405498  0.596252
4    0.236968  0.378588  0.421569  0.528725  0.316039
..        ...       ...       ...       ...       ...
119  0.402879  0.936119  0.538589  0.878798  0.742563
120  0.721868  0.079226  0.838400  0.591751  0.452095
121  0.783807  0.910123  0.903086  0.302792  0.320348
122  0.430862  0.768251  0.005875  0.708088  0.744017
123  0.750795  0.298125  0.523952  0.134531  0.841017

[124 rows x 5 columns]

In [164]:
sample_rand_df2 = sample_rand_df # creates only pointer to original it will not assinge actual data

In [165]:
sample_rand_df2
sample_rand_df2[0][0] = "sam"
sample_rand_df

            0         1         2         3         4
0         sam  0.889995  0.029729  0.395667  0.656311
1    0.776752  0.959992  0.250909  0.741707  0.985922
2    0.307162  0.339854  0.594689  0.389615  0.142759
3    0.596252  0.405498  0.963151  0.958138  0.247002
4    0.316039  0.528725  0.421569  0.378588  0.236968
..        ...       ...       ...       ...       ...
119  0.742563  0.878798  0.538589  0.936119  0.402879
120  0.452095  0.591751  0.838400  0.079226  0.721868
121  0.320348  0.302792  0.903086  0.910123  0.783807
122  0.744017  0.708088  0.005875  0.768251  0.430862
123  0.841017  0.134531  0.523952  0.298125  0.750795

[124 rows x 5 columns]

In [166]:
sample_rand_df2 = pd.DataFrame(sample_rand_df.copy())
#sample_rand_df2 [0][0] = 3 #figer this out why not working
print("sample rand df2")
sample_rand_df2.head(5)
print("sample rand df")
sample_rand_df.head(5)
sample_rand_df = pd.DataFrame(np.random.rand(233,5),columns=["A","B","C","D","E"])

sample rand df2
sample rand df

In [167]:
sample_rand_df.head(3)
sample_rand_df.loc[[1,2],["A","C"]]

          A         C
1  0.675756  0.211273
2  0.748157  0.597725

In [168]:
sample_rand_df.loc[[1,2]]

          A         B         C         D         E
1  0.675756  0.934215  0.211273  0.342319  0.187067
2  0.748157  0.296665  0.597725  0.838438  0.770011

In [169]:
sample_rand_df.head(5)

          A         B         C         D         E
0  0.897448  0.691865  0.572000  0.140550  0.289937
1  0.675756  0.934215  0.211273  0.342319  0.187067
2  0.748157  0.296665  0.597725  0.838438  0.770011
3  0.953554  0.987856  0.747086  0.967598  0.349857
4  0.429354  0.562551  0.625552  0.088204  0.061641

In [170]:
sample_rand_df.iloc[0,3]

0.14055024923741455

In [171]:
sample_rand_df.loc[sample_rand_df["A"]<0.1]

            A         B         C         D         E
9    0.008421  0.917291  0.279687  0.451483  0.602206
12   0.047890  0.157659  0.029476  0.931171  0.615783
17   0.038831  0.585920  0.365091  0.248098  0.687664
22   0.090130  0.476273  0.003498  0.953564  0.221977
32   0.029090  0.762117  0.653901  0.488955  0.064063
43   0.065495  0.901106  0.330632  0.314815  0.133257
54   0.002114  0.262732  0.049472  0.761243  0.460817
61   0.025549  0.649440  0.539131  0.891131  0.910131
63   0.041727  0.293476  0.847369  0.969130  0.233803
66   0.056484  0.618241  0.645941  0.081260  0.253936
70   0.081137  0.858347  0.409774  0.270796  0.395933
105  0.049661  0.386727  0.648376  0.448483  0.725456
110  0.079384  0.800182  0.072342  0.791060  0.781432
111  0.092627  0.768966  0.643188  0.183004  0.078156
117  0.069844  0.346038  0.328901  0.136686  0.378447
127  0.006887  0.631413  0.078082  0.863993  0.337577
144  0.013613  0.383373  0.684823  0.667341  0.054718
163  0.077153  0.377410  0.603751  0.657734  0.995398
165  0.027601  0.732356  0.760787  0.445693  0.404928
189  0.056054  0.217707  0.331845  0.633519  0.010479
193  0.010296  0.319927  0.767666  0.548422  0.037320
197  0.028332  0.576526  0.110648  0.159945  0.856987
214  0.092318  0.097239  0.525831  0.810175  0.279674
217  0.047704  0.507616  0.533327  0.114415  0.323654
221  0.081639  0.409058  0.185546  0.447147  0.248209
229  0.055440  0.841558  0.228050  0.193791  0.129775

In [172]:
#sample_rand_df.loc[sample_rand_df[23]<0.1]  # find out why its giving error

In [173]:
sample_rand_df.drop(["A"],axis=1)

            B         C         D         E
0    0.691865  0.572000  0.140550  0.289937
1    0.934215  0.211273  0.342319  0.187067
2    0.296665  0.597725  0.838438  0.770011
3    0.987856  0.747086  0.967598  0.349857
4    0.562551  0.625552  0.088204  0.061641
..        ...       ...       ...       ...
228  0.051506  0.871272  0.886387  0.970043
229  0.841558  0.228050  0.193791  0.129775
230  0.721702  0.105101  0.115023  0.396398
231  0.342475  0.511039  0.837566  0.244104
232  0.394001  0.573140  0.831219  0.802849

[233 rows x 4 columns]

In [174]:
sample_rand_df.drop([1,2,3], axis=0 ,inplace=True)
sample_rand_df.head(6)

          A         B         C         D         E
0  0.897448  0.691865  0.572000  0.140550  0.289937
4  0.429354  0.562551  0.625552  0.088204  0.061641
5  0.582116  0.427103  0.959285  0.427244  0.181666
6  0.924503  0.910019  0.917825  0.615101  0.967940
7  0.854863  0.265498  0.192070  0.494528  0.051917
8  0.191172  0.404017  0.134341  0.169983  0.158836

In [177]:
sample_rand_df.reset_index(drop=True,inplace=True)
sample_rand_df.head(4)

          A         B         C         D         E
0  0.897448  0.691865  0.572000  0.140550  0.289937
1  0.429354  0.562551  0.625552  0.088204  0.061641
2  0.582116  0.427103  0.959285  0.427244  0.181666
3  0.924503  0.910019  0.917825  0.615101  0.967940

In [ ]:
#read about dropna
#read about dropduplicates